.bienvenida { 
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.texto_disponibles{
    text-align: center;
    padding-top:20px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.info_nutricional{
    text-align: center;
    margin-top: 20%;
}

.listado_productos{
  display: flex;
    text-align: center;
    margin-top: 30px;
    justify-content: center;
    
}

#nombre_prod{
    margin-top: 30px;
    margin-bottom: 30px;
}

#nav{
    background-color: rgb(135, 219, 153);
}

.divs_productos{
  border: solid rgb(135, 219, 153);
  grid-template-columns: 33% 33% 33%;
  margin: 20px;
}

.contenedor_productos {
  display:  grid;
  grid-template-columns: 33% 33% 33% ;
  text-align: center; 
  margin-bottom: 15%;
}

.modal_contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.modal_carrito{
  width: 75%;
  background-color: rgb(92, 167, 108);
  text-align: center;
  margin-bottom: 5%;
  
}

*#nav a:hover {
  border: 1px solid rgb(92, 167, 108);
  transform: scale(0.9);
  transition: all 1s;
}

#nav a.active {
  border: 1px solid rgb(19, 75, 31);
  transition: all 1s;
}


.texto_carrito{
  text-decoration: none;
  color: black
}

.div_icono_Carrito{
background-color: white;
margin-right: 20px;
position: fixed;
border: 1px rgb(92, 167, 108) solid;
left:92.5%;
  
}

.boton_producto{
  background-color: rgb(135, 219, 153);;
}

.titulo_seccion{
  text-align: center;
}

.estilo_modal{
  margin: 12px;
}

.precioProducto{
  margin-top: 3%;
  color: rgb(10, 34, 6);
}

.vaciar_visible{
  visibility: visible;
}

.boton_vaciar{
  visibility: hidden;
}


 